html, body {
    min-height:  100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
    color: #5e3d22;
}

nav li {
    display: inline;
    margin: 0;
    padding: 0 10px;
    font-size: 25px;
    color: #e8c187;
   
}


nav ul {
    display: inline;
    margin: 0;
    padding: 0 10px;
    font-size: 25px;
}

nav {
    
    background-color: #5e3d22;
    width: 100%;
    overflow: visible;
    height: 3rem;
}

nav a {
    padding: 9px 16px;
    float: left;
}

nav a:hover {

    background: #e8c187;
    color: #5e3d22;
}

a {
    color: #e8c187;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}


a:active {
    top: 2px;
}

.music {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #e8c187;
    background-position: center top;
    background-size: cover;
    margin: 0;
}

.page-title {
    
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    text-shadow: 1px 1px #000000;
    padding-top: 20px;
}

.page-desc {

    border: 2px solid #5e3d22;
    margin: 2px;
    text-align: center;
    font-weight: 300;
    padding: 30px;
    font-size: 35px;
    text-shadow: 1px 1px #000000;
}

.text-box h1 {
    font-family: 'Lato', sans-serif;
    color: #e8c187;
    
}

hr.line {
    border: 10px solid #e8c187;
    width: 100%;
    border-radius: 5px;
    margin: auto;
}

.text-box2 h1 {
    font-family: 'Lato', sans-serif;
    color: #e8c187;
    font-weight: lighter;
    text-align: center;
}

.text-box {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #5e3d22;
    color: #e8c187;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     
}


.text-box2 {
    
    font-family: 'Quicksand';
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 4rem;
    margin-left: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #5e3d22;
    color: #e8c187;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 

}


.text-box footer {
    font-size: 20px;
}

.text-box img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 9rem;
    margin-left: 9rem;
    margin-top: 20px; 
    border: 5px solid #e8c187;
    border-radius: 5px;
    width: 600px;
    height: 500px;
}

.profile .avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    border: 5px solid #5e3d22;
    border-radius: 10px;
}

.anchors {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anchors h2 {
    text-align: center;
}

.anchor-item {
    margin: 20px;
}

.anchor-item .anchor {
    
    border: 5px solid #5e3d22;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
    width: 13rem;
    height: 13rem;

}

.anchor-item .anchor:hover {
    border: 5px solid #5e3d22;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    width: 13.5rem;
    height: 13.5rem;

}


.discography a {
    text-decoration: underline;
    color: #e8c187;
    transition: 0.6s;
    position: relative;
}

.discography a:hover {
    font-weight: 100px;
    transition: 0.6s;
    left: 10px;
 
}


footer {
    text-align: center;
    font-size: 15px;
    font-family: Georgia, 'Quicksand', Times, serif;
    margin-bottom: 20px;
}

.navbar {
    width: auto;
    height: auto;
    text-align: center;
    background: #5e3d22;
    color: #e8c187;
}

.navbar h1 {
    font-family: 'Lato';
    font-weight: 300;
}

.navbar hr {
    border: 1px solid #e8c187;
}

.menu-icons .anchor2 {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}